<!-- ##### Top Feature Area End ##### -->


<app-header></app-header>
<div class="hero">
    <div class="box">
        <!-- Chat -->
        &nbsp;
        <div class="word">
            <span data-text="Angular 9">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Welcome </span>
            <span data-text="Risk Management">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chat</span>
            <span data-text="Artificial Intelligence">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Share</span>
            <span data-text="Quantum Computing"> &nbsp;&nbsp;&nbsp;&nbsp;Stream Video </span>
            <!-- <span data-text="Blockchain"> AI Enabled Chat Application </span> -->
            <!-- <span data-text="Blockchain1"> Chat AI </span> -->
        </div>
        <br><br>
        <!-- <div style="font-family: 'Quicksand',sans-serif;font-weight: 300;font-size: 30%;display: flex;justify-content: center;width: 50vw;"> <button type="submit" style="background: linear-gradient(to right, #61ba6d, #83c331);border-style: none;border: solid 1px;color: #fff;width: 8vw;" [routerLink]="['course']">Enroll</button>&nbsp; for courses </div> -->

    </div>


</div>






