<app-header></app-header>
<div class="limiter">
    <div class="container-login100" style=" background-image: url('assets/img/home-parallax-background.jpg');;background-size: 100vw 100vh;">
        <div class="wrap-login100 p-t-190 p-b-30" style="padding-top: 130px;">
            <form class="login100-form validate-form" #addsignin="ngForm" (ngSubmit)="submit(addsignin)">
                <div class="login100-form-avatar" style="border:solid 1px; border-radius: 50%;width: 100px;height: 100px;background: linear-gradient(to right, #46e65c, #83c331);">
                    <img src="assets/images/university.svg" alt="AVATAR">
                </div>

                <span class="login100-form-title p-t-20 p-b-45">
                   Reset Password
                </span>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                    <input class="input100" type="password" name="cpassword" placeholder="Confirm Password" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn">
                        Submit
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230">
                    <a href="#" class="txt1" [routerLink]="['/signin']">
                        Login
                    </a>
                </div>


            </form>
        </div>
    </div>
</div>