<app-header></app-header>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-190 p-b-30">
            <form class="login100-form validate-form" #addsignup="ngForm" (ngSubmit)="submit(addsignup)">
                <div class="login100-form-avatar" style="border:solid 1px; border-radius: 50%;width: 100px;height: 100px;background: linear-gradient(to right, #46e65c, #83c331);">
                    <!-- <img src="assets/images/university.svg" alt="AVATAR"> -->
                </div>

                <span class="login100-form-title p-t-20 p-b-45">
                    Sign up 
                </span>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    <input class="input100" type="text" name="firstname" placeholder="First Name" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    <input class="input100" type="text" name="lastname" placeholder="Last Name" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    <input class="input100" type="text" name="mobile" placeholder="Phone Number" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required">
                    <input class="input100" type="text" name="email" placeholder="Email" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>


                <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password" ngModel>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn p-t-10">
                    <button class="login100-form-btn">
                        Register
                    </button>
                </div>

                <div class="text-center w-full p-t-25 p-b-230"> Have an account?
                    <a href="#" [routerLink]="['/signin']" class="txt1">
                        Login
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>