<app-header>
</app-header>
<div style="display:none;" id="angular" style="display: none;">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Angular (Web Framework)</h1>
            <img src="assets/img/angular.svg" alt="" width="100px" height="100px"> <br> Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[4][5] is a TypeScript-based open-source web application framework led by the Angular Team
            at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. Angular was designed as a ground-up rewrite of AngularJS.
            <ul>
                <li>Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]
                </li>
                <li>Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
                </li>
                <li>Modularity – much core functionality has moved to modules
                </li>
                <li>Angular recommends the use of Microsoft's TypeScript language, which introduces the following features:
                </li>
                <li>Static typing, including Generics
                </li>
                <li>Annotations</li>
                <li>TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript).
                </li>
                <li>Dynamic loading
                </li>
                <li>Asynchronous template compilations
                </li>
                <li>Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.
                </li>
                <li>Support for Angular Universal, which runs Angular applications on servers
                </li>

            </ul>

            <br>
            <br>
            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]" >Enroll</button> -->
            <button type="submit" class="btn btn-success" (click)="enroll(5034)">Enroll</button>
        </div>

    </div>
    <br>
    <br>
</div>


<div style="display:none;" id="riskmanagement">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Risk Management</h1>
            <img src="assets/img/risk.jfif" alt=""> <br> As with other forms of risk, the potential loss amount due to market risk may be measured in a number of ways or conventions. Traditionally, one convention is to use value at risk (VaR). The conventions
            of using VaR are well established and accepted in the short-term risk management practice. However, VaR contains a number of limiting assumptions that constrain its accuracy. The first assumption is that the composition of the portfolio measured
            remains unchanged over the specified period. Over short time horizons, this limiting assumption is often regarded as reasonable. However, over longer time horizons, many of the positions in the portfolio may have been changed. The VaR of the
            unchanged portfolio is no longer relevant. Other problematic issues with VaR is that it is not sub-additive, and therefore not a coherent risk measure.[3] As a result, other suggestions for measuring market risk is Conditional Value-at-Risk
            (CVaR) that is coherent for general loss distributions, including discrete distributions and is sub-additive.[4] The Variance Covariance and Historical Simulation approach to calculating VaR assumes that historical correlations are stable
            and will not change in the future or breakdown under times of market stress. However these assumptions are inappropriate as during periods of high volatility and market turbulence, historical correlations tend to break down. Intuitively, this
            is evident during a financial crisis where all industry sectors experience a significant increase in correlations, as opposed to an upwards trending market. This phenomenon is also known as asymmetric correlations or asymmetric dependence.
            Rather than using Historical Simulation, Monte-Carlo simulations with well-specified multivariate models are an excellent alternative. For example, to improve the estimation of the Variance Covariance matrix, one can generate a forecast of
            asset distributions via Monte-Carlo simulation based upon the Gaussian copula and well-specified marginals.[5] Allowing the modeling process to allow for empirical characteristics in stock returns such as auto-regression, asymmetric volatility,
            skewness, and kurtosis is important. Not accounting for these attributes lead to severe estimation error in the correlation and Variance Covariance that have negative biases (as much as 70% of the true values).[6] Estimation of VaR or CVaR
            for large portfolios of assets using the Variance Covariance matrix may be inappropriate if the underlying returns distributions exhibit asymmetric dependence. In such scenarios, vine copulas that allow for asymmetric dependence (e.g., Clayton,
            Rotated Gumbel) across portfolios of assets are most appropriate in the calculation of tail risk using VaR or CVaR.[7] In addition, care has to be taken regarding the intervening cash flow, embedded options, changes in floating rate interest
            rates of the financial positions in the portfolio. They cannot be ignored if their impact can be large.
            <br>
            <br>
            <button type="submit" class="btn btn-success" (click)="enroll(5040)">Enroll</button>

            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]">Enroll</button> -->
        </div>
    </div>
    <br><br><br>
</div>



<div style="display:none;" id="quantum">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Quantum Computing</h1>
            <img src="assets/img/quantum.svg" alt="" width="100px" height="100px"> <br> Quantum Computing is the use of quantum-mechanical phenomena such as superposition and entanglement to perform computation. A quantum computer is used to perform such
            computation, which can be implemented theoretically or physically[1]:I-5 There are two main approaches to physically implementing a quantum computer currently, analog and digital. Analog approaches are further divided into quantum simulation,
            quantum annealing, and adiabatic quantum computation. Digital quantum computers use quantum logic gates to do computation. Both approaches use quantum bits or qubits.[1]:2-13 Qubits are fundamental to quantum computing and are somewhat analogous
            to bits in a classical computer. Qubits can be in a 1 or 0 quantum state. But they can also be in a superposition of the 1 and 0 states. However, when qubits are measured the result is always either a 0 or a 1; the probabilities of the two
            outcomes depends on the quantum state they were in. Quantum computing began in the early 1980s, when physicist Paul Benioff proposed a quantum mechanical model of the Turing machine.[2] Richard Feynman and Yuri Manin later suggested that a
            quantum computer had the potential to simulate things that a classical computer could not.[3][4] In 1994, Peter Shor developed a quantum algorithm for factoring integers that had the potential to decrypt all secured communications.[5] Despite
            ongoing experimental progress since the late 1990s, most researchers believe that "fault-tolerant quantum computing [is] still a rather distant dream".[6] On 23 October 2019, Google AI, in partnership with the U.S. National Aeronautics and
            Space Administration (NASA), published a paper in which they claimed to have achieved quantum supremacy. [7] While some have disputed this claim, it is still a significant milestone in the history of quantum computing.[8]
            <br>
            <br>
            <button type="submit" class="btn btn-success" (click)="enroll(5039)">Enroll</button>

            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]">Enroll</button> -->
        </div>
    </div>
    <br><br><br>
</div>

<div style="display:none;" id="spoken">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Spoken English</h1>
            <img src="assets/img/spoken.jpg" alt="" width="100px" height="100px"> <br> Introduction George Bernard Shaw is a well known writer. He prepared and spoke on the topic ‘Spoken English and Broken English’ on a gramophone recording for the Linguaphone
            institute. In his speech the provocative ideas are couched in a simple but sparkling rhetorical style. Advantages in learning to speak well Bernard Shaw says that when we travel in the British Commonwealth or in America or when we meet a native
            of these countries, we have to speak English well for enough understanding. If we speak in a provincial or cockney dialect it may prevents us from obtaining some employment which is open to those only speak what is ‘correct English’. No such
            thing ideally correct English No two British subjects speak exactly alike. Even educated persons, the Poet Laureate and trained speakers do not pronounce of some of the simplest commonest words in the English language exactly alike. Members
            of the committee who are selected as models of correct speech speak differently. They differ according to the country in which they were born. Confession of Bernard Shaw Bernard Shaw confesses that he himself does not speak English in the
            same way. When he speaks to audience, he speaks carefully. If he were to speak carefully to his wife at home, she would think he was going mad. As a public speaker he has to take care that every word he says is heard distinctly at far end
            of large halls containing thousands of people. At home he speaks to his wife like mumbling. His wife also a little careless and so he sometimes has to say “What?” Advice to foreign students of English Do not try to speak English perfectly
            because native speakers of English won’t understand. In London nine hundred and ninety nine out of thousand people not only speak bad English but speak even that very badly. No foreigner can ever stress the syllables and make the voice rise
            and fall in questions and answer, assertion and denial, in refusal and consent, in enquiry or information, exactly as a native does. Therefore the first thing they have to do is to speak with a strong foreign accent, and speak broken English.
            <br>
            <br>
            <button type="submit" class="btn btn-success" (click)="enroll(5041)">Enroll</button>

            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]">Enroll</button> -->
        </div>
    </div>
    <br><br><br>
</div>


<div style="display:none;" id="blockchain">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Blockchain</h1>
            <img src="assets/img/blockchain.svg" alt="" width="100px" height="100px"> <br> A blockchain,[1][2][3] originally block chain,[4][5] is a growing list of records, called blocks, that are linked using cryptography.[1][6] Each block contains
            a cryptographic hash of the previous block,[6] a timestamp, and transaction data (generally represented as a Merkle tree). By design, a blockchain is resistant to modification of the data. It is "an open, distributed ledger that can record
            transactions between two parties efficiently and in a verifiable and permanent way".[7] For use as a distributed ledger, a blockchain is typically managed by a peer-to-peer network collectively adhering to a protocol for inter-node communication
            and validating new blocks. Once recorded, the data in any given block cannot be altered retroactively without alteration of all subsequent blocks, which requires consensus of the network majority. Although blockchain records are not unalterable,
            blockchains may be considered secure by design and exemplify a distributed computing system with high Byzantine fault tolerance. Decentralized consensus has therefore been claimed with a blockchain.[8] Blockchain was invented by a person (or
            group of people) using the name Satoshi Nakamoto in 2008 to serve as the public transaction ledger of the cryptocurrency bitcoin.[1] The identity of Satoshi Nakamoto is unknown. The invention of the blockchain for bitcoin made it the first
            digital currency to solve the double-spending problem without the need of a trusted authority or central server. The bitcoin design has inspired other applications,[1][3] and blockchains that are readable by the public are widely used by cryptocurrencies.
            Blockchain is considered a type of payment rail.[9] Private blockchains have been proposed for business use. Sources such as Computerworld called the marketing of such blockchains without a proper security model "snake oil".[10]
            <br>
            <br>
            <button type="submit" class="btn btn-success" (click)="enroll(5035)">Enroll</button>

            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]">Enroll</button> -->
        </div>
    </div>
    <br><br><br>
</div>


<div style="display:none;" id="AI">
    <div class="col-md-12 row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="margin-top: 15vh;border: 1px solid lime;border-radius:1px;" align="left">
            <h1>Artificial Intelligence</h1>
            <img src="assets/img/ai.svg" alt="" width="100px" height="100px"> <br> In computer science, artificial intelligence (AI), sometimes called machine intelligence, is intelligence demonstrated by machines, in contrast to the natural intelligence
            displayed by humans. Leading AI textbooks define the field as the study of "intelligent agents": any device that perceives its environment and takes actions that maximize its chance of successfully achieving its goals.[1] Colloquially, the
            term "artificial intelligence" is often used to describe machines (or computers) that mimic "cognitive" functions that humans associate with the human mind, such as "learning" and "problem solving".[2] As machines become increasingly capable,
            tasks considered to require "intelligence" are often removed from the definition of AI, a phenomenon known as the AI effect.[3] A quip in Tesler's Theorem says "AI is whatever hasn't been done yet."[4] For instance, optical character recognition
            is frequently excluded from things considered to be AI, having become a routine technology.[5] Modern machine capabilities generally classified as AI include successfully understanding human speech,[6] competing at the highest level in strategic
            game systems (such as chess and Go),[7] autonomously operating cars, intelligent routing in content delivery networks, and military simulations. Artificial intelligence was founded as an academic discipline in 1956, and in the years since
            has experienced several waves of optimism,[8][9] followed by disappointment and the loss of funding (known as an "AI winter"),[10][11] followed by new approaches, success and renewed funding.[9][12] For most of its history, AI research has
            been divided into subfields that often fail to communicate with each other.[13] These sub-fields are based on technical considerations, such as particular goals (e.g. "robotics" or "machine learning"),[14] the use of particular tools ("logic"
            or artificial neural networks), or deep philosophical differences.[15][16][17] Subfields have also been based on social factors (particular institutions or the work of particular researchers).[13] The traditional problems (or goals) of AI
            research include reasoning, knowledge representation, planning, learning, natural language processing, perception and the ability to move and manipulate objects.[14] General intelligence is among the field's long-term goals.[18] Approaches
            include statistical methods, computational intelligence, and traditional symbolic AI. Many tools are used in AI, including versions of search and mathematical optimization, artificial neural networks, and methods based on statistics, probability
            and economics. The AI field draws upon computer science, information engineering, mathematics, psychology, linguistics, philosophy, and many other fields. The field was founded on the assumption that human intelligence "can be so precisely
            described that a machine can be made to simulate it".[19] This raises philosophical arguments about the nature of the mind and the ethics of creating artificial beings endowed with human-like intelligence. These issues have been explored by
            myth, fiction and philosophy since antiquity.[20] Some people also consider AI to be a danger to humanity if it progresses unabated.[21][22] Others believe that AI, unlike previous technological revolutions, will create a risk of mass unemployment.[23]
            In the twenty-first century, AI techniques have experienced a resurgence following concurrent advances in computer power, large amounts of data, and theoretical understanding; and AI techniques have become an essential part of the technology
            industry, helping to solve many challenging problems in computer science, software engineering and operations research.[24][12] <br>
            <br>
            <button type="submit" class="btn btn-success" (click)="enroll(5038)">Enroll</button>

            <!-- <button type="submit" class="btn btn-success" [routerLink]="['/payu',coursename]">Enroll</button> -->
        </div>
    </div>
    <br><br><br>
</div>